* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-div {
    background-color: whitesmoke;
    width: 50vh;
    height: 60vh;
    margin: 0 auto;
    margin-top: 2em;
    border-radius: 15px;
}

.main-div h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
}

hr {
    background-color: red;
    width: 22em;
    height: 0.05em;
    border: none;
    margin: 0 auto;
}

